
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon">

    <link rel="stylesheet" href="/css.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">
    <title><%= title %> </title>
</head>
<body style="font-family: 'Roboto', sans-serif;" class="bg-gray-100">
    <div class="relative min-h-screen md:flex">
        <!-- mobile menu bar -->
        <div class="md:hidden flex justify-between  border-l-8 defaultBorderColor rounded bg-white  text-white">
              <!-- logo -->
              <a href="/wewrite-admin/dashboard" class="space-x-2 items-center flex mt-3 mb-3 ml-4">
                  <!-- <img class="h-10 w-10 " src="/images/logo.png"> -->
               
              <span class="font-extrabold text-2xl textColor">CSI ADMIN</span>
            </a>

            <div class="flex">
                <!-- menu button -->
                <button class="focus:outline-none focus:bg-gray-200 mobile-menu-button">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 self-center textColor m-2 " fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                      </svg>
                </button>
            </div> 
        </div>

          <!-- sidebar -->
          <div
          class="defaultColor shadow-lg sidebar text-blue-100 w-64 absolute md:relative inset-y-0 left-0 transform md:translate-x-0 transition duration-300 ease-in-out -translate-x-full">
              <!-- logo -->
              <div class="space-x-2 items-center py-3 bg-gray-200">
                  <img class="h-24 w-24 bg-gray-200 m-auto" src="/images/logo.png">

                  <p class="font-extrabold text-2xl text-center pt-2 textColor pl-2">CSI ADMIN</p>
              </div>

              <!-- nav -->
              <nav class="mt-5 text-gray-100 ">

                <a href="/wewrite-admin/dashboard"
                    class="py-2 mx-3 px-2 flex font-bold hover:text-gray-800 transition duration-400">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                        <path
                            d="M11.47 3.84a.75.75 0 011.06 0l8.69 8.69a.75.75 0 101.06-1.06l-8.689-8.69a2.25 2.25 0 00-3.182 0l-8.69 8.69a.75.75 0 001.061 1.06l8.69-8.69z" />
                        <path
                            d="M12 5.432l8.159 8.159c.03.03.06.058.091.086v6.198c0 1.035-.84 1.875-1.875 1.875H15a.75.75 0 01-.75-.75v-4.5a.75.75 0 00-.75-.75h-3a.75.75 0 00-.75.75V21a.75.75 0 01-.75.75H5.625a1.875 1.875 0 01-1.875-1.875v-6.198a2.29 2.29 0 00.091-.086L12 5.43z" />
                    </svg>
        
                    <span class="px-4">Dashboard</span></a>
                <hr class="mx-3">
                <a href="/wewrite-admin/questions"
                    class="flex mt-2 py-2 mx-3 px-2 hover:text-gray-800 hover:bg-gray-200 transition duration-400">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                        <path fill-rule="evenodd"
                            d="M7.502 6h7.128A3.375 3.375 0 0118 9.375v9.375a3 3 0 003-3V6.108c0-1.505-1.125-2.811-2.664-2.94a48.972 48.972 0 00-.673-.05A3 3 0 0015 1.5h-1.5a3 3 0 00-2.663 1.618c-.225.015-.45.032-.673.05C8.662 3.295 7.554 4.542 7.502 6zM13.5 3A1.5 1.5 0 0012 4.5h4.5A1.5 1.5 0 0015 3h-1.5z"
                            clip-rule="evenodd" />
                        <path fill-rule="evenodd"
                            d="M3 9.375C3 8.339 3.84 7.5 4.875 7.5h9.75c1.036 0 1.875.84 1.875 1.875v11.25c0 1.035-.84 1.875-1.875 1.875h-9.75A1.875 1.875 0 013 20.625V9.375zM6 12a.75.75 0 01.75-.75h.008a.75.75 0 01.75.75v.008a.75.75 0 01-.75.75H6.75a.75.75 0 01-.75-.75V12zm2.25 0a.75.75 0 01.75-.75h3.75a.75.75 0 010 1.5H9a.75.75 0 01-.75-.75zM6 15a.75.75 0 01.75-.75h.008a.75.75 0 01.75.75v.008a.75.75 0 01-.75.75H6.75a.75.75 0 01-.75-.75V15zm2.25 0a.75.75 0 01.75-.75h3.75a.75.75 0 010 1.5H9a.75.75 0 01-.75-.75zM6 18a.75.75 0 01.75-.75h.008a.75.75 0 01.75.75v.008a.75.75 0 01-.75.75H6.75a.75.75 0 01-.75-.75V18zm2.25 0a.75.75 0 01.75-.75h3.75a.75.75 0 010 1.5H9a.75.75 0 01-.75-.75z"
                            clip-rule="evenodd" />
                    </svg>
                    <span class="px-4">Questions</span></a>
                <hr class="mx-3">
        
                <a href="/wewrite-admin/add-questions" class="flex mt-2  py-2 mx-3 px-2 hover:text-gray-800 hover:bg-gray-200 transition duration-400">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                                <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zM12.75 9a.75.75 0 00-1.5 0v2.25H9a.75.75 0 000 1.5h2.25V15a.75.75 0 001.5 0v-2.25H15a.75.75 0 000-1.5h-2.25V9z" clip-rule="evenodd" />
                              </svg>
                              <span class="px-4">Add Question</span></a>
                <hr class="mx-3">
                <a href="/wewrite-admin/responses"
                    class="flex mt-2 py-2 mx-3 px-2 bg-gray-200 text-gray-800 hover:text-gray-800 hover:bg-gray-200 transition duration-400">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                        <path d="M21 6.375c0 2.692-4.03 4.875-9 4.875S3 9.067 3 6.375 7.03 1.5 12 1.5s9 2.183 9 4.875z" />
                        <path
                            d="M12 12.75c2.685 0 5.19-.586 7.078-1.609a8.283 8.283 0 001.897-1.384c.016.121.025.244.025.368C21 12.817 16.97 15 12 15s-9-2.183-9-4.875c0-.124.009-.247.025-.368a8.285 8.285 0 001.897 1.384C6.809 12.164 9.315 12.75 12 12.75z" />
                        <path
                            d="M12 16.5c2.685 0 5.19-.586 7.078-1.609a8.282 8.282 0 001.897-1.384c.016.121.025.244.025.368 0 2.692-4.03 4.875-9 4.875s-9-2.183-9-4.875c0-.124.009-.247.025-.368a8.284 8.284 0 001.897 1.384C6.809 15.914 9.315 16.5 12 16.5z" />
                        <path
                            d="M12 20.25c2.685 0 5.19-.586 7.078-1.609a8.282 8.282 0 001.897-1.384c.016.121.025.244.025.368 0 2.692-4.03 4.875-9 4.875s-9-2.183-9-4.875c0-.124.009-.247.025-.368a8.284 8.284 0 001.897 1.384C6.809 19.664 9.315 20.25 12 20.25z" />
                    </svg>
        
                    <span class="px-4">All Response</span></a>
                <hr class="mx-3">
                <a href="/wewrite-admin/password-reset"
                    class="flex mt-2 py-2 mx-3 px-2 hover:text-gray-800 hover:bg-gray-200 transition duration-400 ">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                        <path fill-rule="evenodd"
                            d="M12 1.5a5.25 5.25 0 00-5.25 5.25v3a3 3 0 00-3 3v6.75a3 3 0 003 3h10.5a3 3 0 003-3v-6.75a3 3 0 00-3-3v-3c0-2.9-2.35-5.25-5.25-5.25zm3.75 8.25v-3a3.75 3.75 0 10-7.5 0v3h7.5z"
                            clip-rule="evenodd" />
                    </svg>
                    <span class="px-4">Password reset</span>
                </a>
                <hr class="mx-3">
                <a href="/wewrite-admin/logout"
                    class="flex  mt-2  py-2 mx-3 px-2 hover:text-gray-800 hover:bg-gray-200 transition duration-400">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M11 16l-4-4m0 0l4-4m-4 4h14m-5 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h7a3 3 0 013 3v1" />
                    </svg>
                    <span class="px-4">Logout</span>
                </a>
                <hr class="mx-3">
            </nav>
          </div>
          <!-- end sidebar -->

<!-- Main content here -->
<div class="flex-1 lg:p-10 p-2 text-2xl font-bold">

    <!-- Search bar and notification box -->
    <div class="rounded-xl py-4 px-5 3 defaultMidiumColor lg:flex justify-between shadow-lg">
        <div class="my-3">
            <h1 class="text-gray-100 ml-3 lg:text-2xl text-lg font-bold">Analytics</h1>
        </div>
    </div>
    <!--end Search bar and notification box -->

    <!-- Content here -->
    <div class="p-4 bg-white mt-5 rounded-lg text-base">

        <p class="text-center my-5 text-lg uppercase">Sector Totals</p>
            
          <!-- Section Percentage card -->
    <div
    class="rounded-lg p-4 bg-gray-200 shadow-lg text-gray-200 border border-gray-800 hover:border-white duration-200">
  
    <a href="/admin/responses">
      <div class="grid lg:grid-cols-2 gap-4 pl-2 items-center">
       
       <div class="col-span-1 lg:border-r defaultBorderColor pr-5">
        <div class="text-gray-900">
          <p class="text-md defaultColor p-2 rounded" style="width: <%=sectors.financial%>%;"> </p>
          <p class="text-xs font-base">Financial (<%=sectors.financial%> total)</p>
        </div>
        <div class="text-gray-900">
          <p class="text-md bg-blue-600 p-2 rounded" style="width: <%=sectors.tele%>%;"></p>
          <p class="text-xs font-base">Telephone  (<%=sectors.tele%> total)</p>
        </div>
        <div class="text-gray-900">
          <p class="text-md bg-orange-600 p-2 rounded" style="width: <%=sectors.insurance%>%;"></p>
          <p class="text-xs font-base">Insurance  (<%=sectors.insurance%> total)</p>
        </div>
       </div>

       <div class="col-span-1">
        <div class="text-gray-900">
          <p class="text-md bg-gray-500 p-2 rounded" style="width: <%=sectors.health%>%;"></p>
          <p class="text-xs font-base">Health  (<%=sectors.health%> total)</p>
        </div>
        <div class="text-gray-900">
          <p class="text-md bg-red-500 p-2 rounded" style="width: <%=sectors.transportation%>%;"></p>
          <p class="text-xs font-base">Transportation  (<%=sectors.transportation%> total)</p>
        </div>
        <div class="text-gray-900">
          <p class="text-md bg-yellow-500 p-2 rounded" style="width: <%=sectors.power%>%;"></p>
          <p class="text-xs font-base">Power (<%=sectors.power%> total)</p>
        </div>
       </div>

       <div class="col-span-1 lg:border-r defaultBorderColor pr-5">
        <div class="text-gray-900">
          <p class="text-md bg-gray-500 p-2 rounded" style="width: <%=sectors.online%>%;"></p>
          <p class="text-xs font-base">Online  (<%=sectors.online%> total)</p>
        </div>
        <div class="text-gray-900">
          <p class="text-md bg-red-500 p-2 rounded" style="width: <%=sectors.public%>%;"></p>
          <p class="text-xs font-base">Public  (<%=sectors.public%> total)</p>
        </div>
        <div class="text-gray-900">
          <p class="text-md bg-yellow-500 p-2 rounded" style="width: <%=sectors.hospitality%>%;"></p>
          <p class="text-xs font-base">Hospitality  (<%=sectors.hospitality%> total)</p>
        </div>
       </div>
        
      </div>
    </a>
  </div>
  <!-- end Section Percentage card -->
        <!-- Single Question/Response analytics -->
        <div class="mb-5">
            <p class="text-center mt-10 text-lg uppercase">Sector Response - Total (<%=sectors.totalResponse%>)</p>
             <!-- CHARTS -->
                <div class="shadow-lg border overflow-x-auto rounded-lg border-gray-800 pb-1 my-3" style="width: 100%">
                    <div class="flex">
                        <div class="col-md-7">
                            <canvas
                            id="myChart"
                            width="1000"
                            height="210"
                            style="display: block; box-sizing: border-box; height: 210px"
                            class="w-full"
                            ></canvas>
                        </div>
                    </div>
                </div>
            <!-- CHARTS -->
        </div>


        <!-- Single Question/Response analytics -->
        <div class="mb-5">
            <div class="shadow-xl border-2 overflow-x-auto rounded-lg p-2">
                <div class="text-gray-600">
                    <p>Financial Response</p>
                    <p class="text-sm text-gray-500"><%=sectors.financial%> responses</p>
                </div>
                <div class="col-md-4 w-64 mb-0 m-auto pt-2">
                    <canvas id="myChart1" width="100" height="100"></canvas>
                </div>
            </div>
        </div>

        <!-- Single Question/Response analytics -->
        <div class="mb-5">
            <!-- CHARTS -->
            <div class="shadow-xl border-2 overflow-x-auto rounded-lg p-2">
                <div class="text-gray-600">
                    <p>Telephone Response</p>
                    <p class="text-sm text-gray-500"><%=sectors.tele%> responses</p>
                </div>
                <div class="col-md-4 w-64 mb-0 m-auto pt-2">
                    <canvas id="myChart2" width="100" height="100"></canvas>
                </div>
            </div>
        </div>

        <!-- Single Question/Response analytics -->
        <div class="mb-5">
            <!-- CHARTS -->
            <div class="shadow-xl border-2 overflow-x-auto rounded-lg p-2">
                <div class="text-gray-600">
                    <p>Insurance Response</p>
                    <p class="text-sm text-gray-500"><%=sectors.insurance%> responses</p>
                </div>
                <div class="col-md-4 w-64 mb-0 m-auto pt-2" style="color: rgba(217, 199, 39, 0.81)">
                    <canvas id="myChart3" width="100" height="100"></canvas>
                </div>
            </div>
        </div>


         <!-- Single Question/Response analytics -->
         <div class="mb-5">
            <!-- CHARTS -->
            <div class="shadow-xl border-2 overflow-x-auto rounded-lg p-2">
                <div class="text-gray-600">
                    <p>Health Response</p>
                    <p class="text-sm text-gray-500"><%=sectors.health%> responses</p>
                </div>
                <div class="col-md-4 w-64 mb-0 m-auto pt-2" style="color: rgba(217, 199, 39, 0.81)">
                    <canvas id="myChart4" width="100" height="100"></canvas>
                </div>
            </div>
        </div>


         <!-- Single Question/Response analytics -->
         <div class="mb-5">
            <!-- CHARTS -->
            <div class="shadow-xl border-2 overflow-x-auto rounded-lg p-2">
                <div class="text-gray-600">
                    <p>Transportation Response</p>
                    <p class="text-sm text-gray-500"><%=sectors.transportation%> responses</p>
                </div>
                <div class="col-md-4 w-64 mb-0 m-auto pt-2" style="color: rgba(217, 199, 39, 0.81)">
                    <canvas id="myChart5" width="100" height="100"></canvas>
                </div>
            </div>
        </div>


         <!-- Single Question/Response analytics -->
         <div class="mb-5">
            <!-- CHARTS -->
            <div class="shadow-xl border-2 overflow-x-auto rounded-lg p-2">
                <div class="text-gray-600">
                    <p>Power Response</p>
                    <p class="text-sm text-gray-500"><%=sectors.power%> responses</p>
                </div>
                <div class="col-md-4 w-64 mb-0 m-auto pt-2" style="color: rgba(217, 199, 39, 0.81)">
                    <canvas id="myChart6" width="100" height="100"></canvas>
                </div>
            </div>
        </div>






         <!-- Single Question/Response analytics -->
         <div class="mb-5">
            <!-- CHARTS -->
            <div class="shadow-xl border-2 overflow-x-auto rounded-lg p-2">
                <div class="text-gray-600">
                    <p>Online Response</p>
                    <p class="text-sm text-gray-500"><%=sectors.online%> responses</p>
                </div>
                <div class="col-md-4 w-64 mb-0 m-auto pt-2" style="color: rgba(217, 199, 39, 0.81)">
                    <canvas id="myChart7" width="100" height="100"></canvas>
                </div>
            </div>
        </div>



         <!-- Single Question/Response analytics -->
         <div class="mb-5">
            <!-- CHARTS -->
            <div class="shadow-xl border-2 overflow-x-auto rounded-lg p-2">
                <div class="text-gray-600">
                    <p>Public Response</p>
                    <p class="text-sm text-gray-500"><%=sectors.public%> responses</p>
                </div>
                <div class="col-md-4 w-64 mb-0 m-auto pt-2" style="color: rgba(217, 199, 39, 0.81)">
                    <canvas id="myChart8" width="100" height="100"></canvas>
                </div>
            </div>
        </div>



         <!-- Single Question/Response analytics -->
         <div class="mb-5">
            <!-- CHARTS -->
            <div class="shadow-xl border-2 overflow-x-auto rounded-lg p-2">
                <div class="text-gray-600">
                    <p>Hospitality Response</p>
                    <p class="text-sm text-gray-500"><%=sectors.hospitality%> responses</p>
                </div>
                <div class="col-md-4 w-64 mb-0 m-auto pt-2" style="color: rgba(217, 199, 39, 0.81)">
                    <canvas id="myChart9" width="100" height="100"></canvas>
                </div>
            </div>
        </div>




    </div>
    <!-- end Content here -->


</div>


</div>
   
<footer class=" border py-5 text-sm bg-white shadow-lg border-b-8 defaultBorderColor">
  <div class="text-center font-medium ">
      <p>&copy; Copyright 2022 <a class="textColor hover:underline" href="#">CSI</a>. All rights reserved </p>
  </div>
</footer>

<script src="/js/script.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
<script>


    const ctx = document.getElementById('myChart');
    const barData = [<%=generelPie%>];
    const myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ["Financial", "Telephone", "Insurance", "Health", "Transportation", "Power", "Online", "Public", "Hospitality"],
            datasets: [{
                label: 'Sectors Response (Total)',
                data: barData,
                backgroundColor: [ 
                    'rgba(1, 95, 121, 0.8)',
                    'rgba(1, 40, 194, 0.8)',
                    'rgba(233, 78, 0, 0.8)',

                    'rgba(94, 94, 94, 0.81)',
                    'rgba(244, 55, 48, 0.81)',
                    'rgba(217, 199, 39, 0.81)',

                    'rgba(83, 84, 84, 0.8)',
                    'rgba(255, 44, 44, 0.8)',
                    'rgba(248, 218, 26, 0.81)',
                     
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });



    const ctxw1 = document.getElementById('myChart1');
    const pieData = '<%=sectors.financial%>';
    const total = '<%=sectors.totalResponse%>';
    const myChartz1 = new Chart(ctxw1, {
        type: 'pie',
        data: {
            labels: ['Financial', 'Total'],
            datasets: [{
                label: 'Response',
                data: [pieData, total],
                backgroundColor: [
                    'rgba(16, 34, 236, 0.774)',

                    'rgb(198, 2, 2)',

                    // 'rgb(244, 186, 15)',
                ],

                borderWidth: 1
            }]
        },
        options: {

        }
    });
    const ctxw2 = document.getElementById('myChart2');
    const pieData2 = '<%=sectors.tele%>';
    const myChartz2 = new Chart(ctxw2, {
        type: 'pie',
        data: {
            labels: ['Telephone', 'Total'],
            datasets: [{
                label: 'Expenditure',
                data: [pieData2, total],
                backgroundColor: [
                    'rgba(16, 34, 236, 0.774)',
                    'rgb(198, 2, 2)',
                ],

                borderWidth: 1
            }]
        },
        options: {

        }
    });
    const ctxw3 = document.getElementById('myChart3');
    const pieData3 = '<%=sectors.insurance%>';
    const myChartz3 = new Chart(ctxw3, {
        type: 'pie',
        data: {
            labels: ['Insurance', 'Total'],
            datasets: [{
                label: 'Expenditure',
                data: [pieData3, total],
                backgroundColor: [
                    'rgba(16, 34, 236, 0.774)',

                    'rgb(198, 2, 2)',
                ],

                borderWidth: 1
            }]
        },
        options: {

        }
    });


    const ctxw4 = document.getElementById('myChart4');
    const pieData4 = '<%=sectors.health%>';
    const myChartz4 = new Chart(ctxw4, {
        type: 'pie',
        data: {
            labels: ['Health', 'Total'],
            datasets: [{
                label: 'Expenditure',
                data: [pieData4, total],
                backgroundColor: [
                    'rgba(16, 34, 236, 0.774)',

                    'rgb(198, 2, 2)',
                ],

                borderWidth: 1
            }]
        },
        options: {

        }
    });


    const ctxw5 = document.getElementById('myChart5');
    const pieData5 = '<%=sectors.transportation%>';
    const myChartz5 = new Chart(ctxw5, {
        type: 'pie',
        data: {
            labels: ['Transportation', 'Total'],
            datasets: [{
                label: 'Expenditure',
                data: [pieData5, total],
                backgroundColor: [
                    'rgba(16, 34, 236, 0.774)',

                    'rgb(198, 2, 2)',
                ],

                borderWidth: 1
            }]
        },
        options: {

        }
    });

    const ctxw6 = document.getElementById('myChart6');
    const pieData6 = '<%=sectors.power%>';
    const myChartz6 = new Chart(ctxw6, {
        type: 'pie',
        data: {
            labels: ['Power', 'Total'],
            datasets: [{
                label: 'Expenditure',
                data: [pieData6, total],
                backgroundColor: [
                    'rgba(16, 34, 236, 0.774)',

                    'rgb(198, 2, 2)',
                ],

                borderWidth: 1
            }]
        },
        options: {

        }
    });

    const ctxw7 = document.getElementById('myChart7');
    const pieData7 = '<%=sectors.online%>';
    const myChartz7 = new Chart(ctxw7, {
        type: 'pie',
        data: {
            labels: ['Online', 'Total'],
            datasets: [{
                label: 'Expenditure',
                data: [pieData7, total],
                backgroundColor: [
                    'rgba(16, 34, 236, 0.774)',

                    'rgb(198, 2, 2)',
                ],

                borderWidth: 1
            }]
        },
        options: {

        }
    });

    const ctxw8 = document.getElementById('myChart8');
    const pieData8 = '<%=sectors.public%>';
    const myChartz8 = new Chart(ctxw8, {
        type: 'pie',
        data: {
            labels: ['Public', 'Total'],
            datasets: [{
                label: 'Expenditure',
                data: [pieData8, total],
                backgroundColor: [
                    'rgba(16, 34, 236, 0.774)',

                    'rgb(198, 2, 2)',
                ],

                borderWidth: 1
            }]
        },
        options: {

        }
    });

    const ctxw9 = document.getElementById('myChart9');
    const pieData9 = '<%=sectors.hospitality%>';
    const myChartz9 = new Chart(ctxw9, {
        type: 'pie',
        data: {
            labels: ['Hospitality', 'Total'],
            datasets: [{
                label: 'Expenditure',
                data: [pieData9, total],
                backgroundColor: [
                    'rgba(16, 34, 236, 0.774)',

                    'rgb(198, 2, 2)',
                ],

                borderWidth: 1
            }]
        },
        options: {

        }
    });
</script>
</body>
</html>